$label-color: #201262;
$sublabel-color: #9590af;
$light-gray: #ececec;

// Values
$APP_WIDTH: 80vw;
$NAV_HEIGHT: 60px;

// Borders
$border-turquoise: 13px solid #a4e3ff;
$border-blue: 13px solid #c8ebff;
$border-yellow: 13px solid #ffe77b;
$border-mauve: 13px solid #e1c3ff;

// Colors
$white: #fbfbfd;
$mauve: #c183ff;
$blue: #4169df;
$light-blue: #15b7ff;
$lighter-blue: #a4e3ff;
$turquoise: #a6f3eb;
$cyan: #2de4d1;
$yellow: #facd01;
$light-yellow: #ffe77b;
$pink: #ff7a9f;
$light-pink: #ffdef2;

$radius-sm: 12px;
