div {
  &.title-logo-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 4%;
    svg {
      &.logo {
        &:hover {
          cursor: pointer;
        }
        width: $APP_WIDTH * 0.8;
        @include not-mobile {
          width: 40%;
          max-width: 475px;
          margin-left: -2%;
        }
      }
    }
    div {
      &.title-logos {
        svg {
          position: absolute;
          &.sun {
            bottom: -60px;
            right: 50px;
            width: 18%;
            @include mobile {
              width: 30%;
              top: -15px;
              right: 8px;
            }
          }
          &.smiley {
            bottom: -85px;
            right: -12px;
            width: 15%;
            transform: rotate(12deg);
            fill: #15b7ff;
            stroke: #15b7ff;
            @include mobile {
              width: 28%;
              top: 22px;
              right: -10px;
            }
          }
        }
      }
    }
  }
}
