div {
  &.shop-items {
    &.sold {
      opacity: 0.3;
      pointer-events: none;
    }
    position: relative;
    color: $blue;
    div {
      &.item-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        h1 {
          overflow: hidden;
          white-space: nowrap;
          max-width: 275px;
          text-overflow: ellipsis;
          font-size: 18px;
        }
      }
    }
    p {
      letter-spacing: 0.1em;
      margin: 4px 0;
      &.item-title {
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          &:last-child {
            border-left: 3px solid $mauve;
            padding-left: 10px;
          }
        }
      }
      &.item-rarity {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          &.buy-btn {
            color: $mauve;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            /* or 140% */

            text-align: right;
            letter-spacing: 0.1em;
            text-decoration-line: underline;
          }
        }
      }
    }
    &:hover {
      cursor: pointer;
      // &::before {
      //   content: "";
      //   font-size: 40px;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      //   text-align: center;
      //   display: flex;
      //   align-items: center;
      //   background-color: rgba($turquoise, 0.4);
      // }
    }
    div {
      &.item-img {
        width: 100%;
        margin-bottom: 10px;
        img {
          &.item-img {
            width: 100%;
            position: relative;
          }
        }
        p {
          &.shop-seemore {
            position: absolute;
            top: -5px;
            left: 0;
            right: 0;
            aspect-ratio: 1;
            color: $white;
            font-weight: bold;
            font-size: 35px;
            letter-spacing: 0.2em;
            // background-color: rgba($turquoise, 0.4);
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
