div {
  &.language-container {
    width: 100%;
    padding: 0 1rem;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    div {
      &.languages-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        div {
          &.languages {
            display: flex;
            margin-right: 40px;
            p {
              margin: 0 4px;
            }
          }
        }
        span {
          &.spacer {
            width: 3px;
            background-color: $mauve;
            height: 50%;
            margin: 0 10px;
          }
        }
      }
    }
    svg {
      fill: $white;
      transition: all ease-in-out 0.3s;
      &:hover {
        cursor: pointer;
        animation: shake 0.3s forwards;
      }
      @include mobile {
        max-height: 100%;
        width: 20%;
      }
      &.go-back-btn {
        width: 7%;
        max-height: 60%;
        margin-right: 15%;
      }
    }
    p,
    a {
      color: $white;
      font-weight: 600;
      line-height: 28px;
      transition: all ease-in-out 0.2s;
      &.active {
        font-weight: bolder;
        text-decoration: underline;
      }
      &:hover {
        cursor: pointer;
      }
      @include mobile {
        font-size: 1.3em;
      }
    }
  }
}
