div {
  &.header-wrap {
    width: 100vw;
    padding: 0 1rem;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $NAV_HEIGHT;
    position: fixed;
    .disabled {
      pointer-events: none;
      opacity: 0.5;
    }
    div {
      &.languages-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-left: 40px;
        position: relative;
        div {
          &.languages {
            display: flex;
            margin-right: 40px;
            p {
              margin: 0 4px;
            }
          }
        }
        span {
          &.spacer {
            width: 3px;
            background-color: $mauve;
            height: 50%;
            margin: 0 10px;
          }
        }
      }
      &.links {
        width: 60%;
        display: flex;
        justify-content: space-around;
        svg {
          fill: $white;
          transition: all ease-in-out 0.3s;

          &:hover {
            cursor: pointer;
            animation: shake 0.3s forwards;
          }
        }
      }
    }

    p,
    a {
      color: $white;

      &.on-page {
        color: $white;
        font-weight: 900;
      }
      font-weight: normal;
      line-height: 28px;
      font-size: 1.3em;
      letter-spacing: 0.2em;
      transition: all ease-in-out 0.2s;
      &.active {
        font-weight: 900;
        text-decoration: underline;
      }
      &.inactive {
        // color: darken($white, 5);
        font-weight: 400;
      }
      &:hover {
        cursor: pointer;
      }
      &.cart-qty {
        position: absolute;
        top: 15px;
        right: -15px;
        min-width: 20px;
        min-height: 20px;
        aspect-ratio: 1;
        padding: 4px;
        font-size: 14px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        font-weight: bold;
        align-items: center;
        background-color: $white;
        color: darken($lighter-blue, 40);
        letter-spacing: 0;
        box-shadow: 2px 4px 7px rgba($lighter-blue, 0.4),
          0px -1px 2px rgba($lighter-blue, 0.4);
      }
    }
  }

  &.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 14px;
    svg {
      fill: $white;
      transition: all ease-in-out 0.3s;
      &.logo {
        width: 16%;
        max-height: 60%;
        margin-right: 15%;
      }
      &:hover {
        cursor: pointer;
        animation: shake 0.3s forwards;
      }
    }
    @include mobile {
      width: 100%;
    }
  }

  &.mobile {
    // width: fit-content;
    padding: 0;
    display: flex;
    width: 30%;
    height: auto;
    box-shadow: 2px 4px 7px rgba($lighter-blue, 0.3),
      0px -1px 2px rgba($lighter-blue, 0.3);
    transition: all ease-in-out 0.2s;
    div {
      &.links {
        margin-top: 20px;
        padding: 0 1rem;
        flex-direction: column;
        width: 100%;
        a {
          margin: 10px 0;
          font-size: 18px;
        }
      }
    }

    svg {
      &.logo {
        height: 80%;
        width: 30%;
        max-height: 100%;
        margin-right: 0;
      }
    }
  }

  &.opened {
    flex-direction: column;
    width: 80%;
    padding: 20px 20px 30px 20px;
    svg {
      &.logo {
        width: 25%;
        // margin: 10px;
      }
    }
    div {
      &.languages-container {
        // width: 80%;
        margin-left: 0;
        justify-content: flex-end;
        div {
          &.languages {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 20px;
            margin-top: 5px;
            p {
              font-size: 14px;
              margin: 0;
            }
          }
        }
      }
    }
  }

  span {
    &.hamburger {
      padding: 10px;
      position: fixed;
      right: -13px;
      border-bottom-left-radius: 50%;
      z-index: 9999;
      box-shadow: -1px 3px 10px rgba(black, 0.2);
    }
  }
}
