div {
  &.language-container {
    margin: 30px 0 15px 0;
    width: 97%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.2rem;
    @include mobile {
      width: 90%;
    }

    div {
      &.languages {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        p {
          transition: all ease-in-out 0.2s;
          &.active {
            font-weight: bolder;
            color: #4169df;
          }
          &.inactive {
            color: rgba(#385cc7, 0.38);
          }
          &:hover {
            cursor: pointer;
          }
          @include mobile {
            font-size: 1.3em;
          }
        }
        span {
          &.spacer {
            width: 3px;
            background-color: $mauve;
            height: 100%;
            margin: 0 10px;
          }
        }
      }
    }

    span {
      &.go-back-btn {
        transition: all ease-in-out 0.3s;
        @include mobile {
          transform: scale(1.3);
        }
        &:hover {
          cursor: pointer;
          animation: shake 0.3s forwards;
        }
      }
    }
  }
}
