div {
  &.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    a.login {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 99999;
      opacity: 0;
      cursor: default;
    }
    @include mobile {
      border-right: none;
      margin-top: 45px;
    }

    section {
      width: $APP_WIDTH;
      &.top {
        margin-top: 60px;
        @include mobile {
          margin-top: 20px;
          margin-bottom: 40px;
        }
        div {
          &.languages {
            position: absolute;
            top: 26px;
            right: 13px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            p {
              margin: 0 4px;
              color: $blue;
              &.on-page {
                color: $blue;
                font-weight: 900;
              }
              &.separator {
                color: $mauve;
                font-weight: 900;
                font-size: 25px;
              }
              font-weight: normal;
              line-height: 28px;
              font-size: 1.3em;
              letter-spacing: 0.2em;
              transition: all ease-in-out 0.2s;
              &.active {
                font-weight: 900;
                text-decoration: underline;
              }
              &.inactive {
                // color: darken($white, 5);
                font-weight: 400;
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
      &.joy {
        width: 100vw;
        background-color: $mauve;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.rabbits-photos {
        width: 100%;
        div {
          &.photos-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            position: relative;
            img {
              width: 30%;
              aspect-ratio: 1;
            }
            div {
              &.rabbits-tr {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                img {
                  width: 100%;
                  &:first-child {
                    position: absolute;
                    top: 10px;
                    left: -200px;
                  }
                  &:last-child {
                    position: inherit;
                    top: -10px;
                    left: 0px;
                  }
                }
              }
            }
          }
        }
      }
    }

    div {
      &.text {
        align-self: flex-start;
        p {
          color: rgba(#385cc7, 0.38);
          letter-spacing: 0.2em;
          font-weight: 700;
          font-size: 20px;
          margin: 10px 0;
          @include mobile {
            font-size: 16px;
            margin-top: -30px;
          }
        }
        h3 {
          font-weight: bold;
          font-size: 25px;
          letter-spacing: 0.2em;
          line-height: 35px;
          color: #4169df;
          margin-bottom: 20px;
          position: relative;
          @include mobile {
            font-size: 18px;
            line-height: unset;
          }

          span {
            position: relative;
            &:last-child {
              letter-spacing: 0.25em;
            }
            &.teal {
              &::before {
                content: "";
                position: absolute;
                width: 106%;
                height: 13px;
                top: 11px;
                left: 13px;
                background-color: rgba(#2bd7c5, 0.45);
                @include mobile {
                  width: 100%;
                  left: 5px;
                }
              }
            }

            &.yellow {
              &::before {
                content: "";
                position: absolute;
                width: 106%;
                height: 13px;
                top: 11px;
                left: 13px;
                background-color: rgba(#facd01, 0.35);
                @include mobile {
                  width: 100%;
                  left: 5px;
                }
              }
            }
            &.mauve {
              &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 13px;
                top: 11px;
                left: 13px;
                background-color: rgba(#c183ff, 0.35);
                @include mobile {
                  width: 100%;
                  left: 20px;
                  top: 9px;
                }
              }
            }
          }
        }
      }
      &.homepage-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 1px solid #fa6790;
        width: 100%;
        margin-top: 40px; // Destkop
        @include mobile {
          margin-top: 0;
        }
        a {
          text-align: center;
          @include flex-center {
            outline: 0.5px solid #fa6790;
            width: 50%;
            font-size: 22px;
            font-weight: 700;
            color: #fa6790;
            letter-spacing: 0.2em;
            padding: 2.5rem;
            &.hovered {
              color: #fbfbfd;
              border: none;
            }
            &.disabled {
              opacity: 0.6;
              pointer-events: none;
            }
          }
        }

        // Mobile
        @include mobile {
          border: none;
          a {
            @include flex-center {
              background-color: #fa6790;
              width: 100%;
              height: 20%;
              font-size: 18px;
              font-weight: 700;
              color: $white;
              letter-spacing: 0.2em;
              padding: 2rem;
              margin: 0.5rem 0;
              &.hovered {
                color: #fbfbfd;
                border: none;
              }
              &.disabled {
                opacity: 0.1;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }
}
