div {
  &.shop-container {
    width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: #c183ff;
    @include mobile {
      flex-direction: column;
    }
    div {
      &.shop-ctas {
        display: flex;
        width: 100%;
        margin: 5% 0 2% 0;
        button {
          width: calc(100% / 3);
        }
      }
    }
    section {
      &.shop-section {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        h2 {
          margin: 4px 0;
          letter-spacing: 0.2em;
        }
        hr {
          margin-bottom: 24px;
          display: block;
          height: 1px;
          border: 0;
          padding: 0;
        }
        div {
          &.shop-items-container {
            gap: 16px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
          }
        }
      }
      &.oeuvres {
        h2 {
          color: $pink;
        }
        hr {
          border-top: 1px solid $pink;
        }
      }
      &.prints {
        h2 {
          color: $cyan;
        }
        hr {
          border-top: 1px solid $cyan;
        }
      }
      &.merch {
        h2 {
          color: $light-blue;
        }
        hr {
          border-top: 1px solid $light-blue;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
