div {
  &.shop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border: 2px solid gold;

    div {
      &.shop-container {
        display: flex;
        position: relative;
        div {
          &.shop-items {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
