div {
  &.shop-container {
    width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: #c183ff;
    margin-bottom: 100px;

    div {
      &.shop-ctas {
        display: flex;
        width: 100%;
        margin: 5% 0 2% 0;

        button {
          min-height: 65px;
          width: calc(100% / 3);
        }

        @include mobile {
          display: flex;
          flex-direction: column;
          gap: 12px;

          button {
            min-height: unset;
            height: fit-content;
            width: 100%;
          }
        }
      }

      &.shop-filters {
        div {
          &.filters {
            display: none;
            // flex-direction: column;
            height: 0%;
            border: none;
            transition: all 1s ease-in-out;
          }

          &.opened {
            height: 100%;
            border: 1px solid #c183ff;
            display: flex;
            // input {
            //   &[type="checkbox"] {
            //     animation: fade-in 1s forwards;
            //   }
            // }
          }
        }
      }
    }

    section {
      &.shop-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        h2 {
          margin: 4px 0;
          letter-spacing: 0.2em;
        }

        hr {
          width: 100%;
          margin-bottom: 24px;
          display: block;
          height: 1px;
          border: 0;
          padding: 0;
        }

        div {
          &.shop-items-container {
            gap: 32px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            @include mobile {
              grid-template-columns: 1fr;
            }
          }
        }
      }

      &.oeuvres {
        h2 {
          color: $pink;
        }

        hr {
          border-top: 1px solid $pink;
        }
      }

      &.prints {
        h2 {
          color: $cyan;
        }

        hr {
          border-top: 1px solid $cyan;
        }
      }

      &.merch {
        h2 {
          color: $light-blue;
        }

        hr {
          border-top: 1px solid $light-blue;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes grow-in {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100vh;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}