// Imports
@import "./imports/mixins";
@import "./imports/resets";
@import "./imports/variables";

// Pages
@import "./pages/rdv";
@import "./pages/homePage";
@import "./pages/shop";

// UI
@import "./components/UI/card";
@import "./components/UI/modal";
@import "./components/UI/button";

// Layout
@import "./components/Layout/header";

// Components
@import "./components/customInput";
@import "./components/customAvailabilities";
@import "./components/evilHeader";
@import "./components/shopItem";
@import "./components/joy";
@import "./components/Filters/shopFitler";
@import "./components/login";

.App {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  input {
    &:hover {
      cursor: pointer;
    }
  }
  border-left: $border-turquoise;
  border-right: $border-blue;

  @include mobile {
    border-right: $border-blue;
  }
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 13px;
    z-index: 10;
    background-color: #ffe77b;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13px;
    background-color: #e1c3ff;
  }
  div {
    &.construction-zone {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      padding: 40px 20px;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $label-color;
      text-align: center;
      div {
        &.construction-text {
          position: absolute;
          top: 20%;
          left: 42%;
          width: 26%;
          text-align: left;
          @include mobile {
            bottom: 20px;
            top: unset;
            left: unset;
            width: 100%;
            text-align: center;
          }
        }
      }
      h2 {
        margin: 20px 0 10px 0;
        letter-spacing: 0.1em;
      }
      p {
        font-weight: 500;
        letter-spacing: 0.1em;
      }
      svg {
        width: 100%;
        height: auto;
        margin-bottom: 80px;
        @include not-mobile {
          width: 50%;
        }
      }
    }
  }
}
