button {
  &.square-btn {
    background-color: $white;
    text-align: center;
    padding: 16px;
    font-size: 22px;
    border: none;
    outline: 1px solid #c183ff;
    font-weight: 700;
    color: #c183ff;
    letter-spacing: 0.2em;
    height: 100%;
    &:hover {
      cursor: pointer;
      color: $white;
    }
    @include mobile {
      font-size: 12px;
    }
  }
}
